

.eleginos {
  padding: 30px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
   font-size: 2rem;
  margin-bottom: 30px;
  color: rgb(0, 26, 255);;
}



.eleginos-list  {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  cursor: pointer; 
}

.eleginos-list .icon {
  font-size: 2rem;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffdede; 
  color: #d6336c;
  transition: transform 0.3s; 
}

.eleginos-list .icon:hover {
  transform: scale(1.2); 
}



.eleginos-list  {
  margin: 0;
  font-size: 0.95rem;
  color: #555;
}

