.productos {
    display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  gap: 20px; /* espacio entre las imágenes */
    background-color: #ffffff;
    border: 2px solid black;
      transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}
.prod-item   {
 border: 2px solid black;
 justify-items: center;
}






.title-prod {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    
}

.img-prod {
  display: flex;
    width: 140px;
    height: 150px;

    margin-bottom: 15px;
    border: 8px solid #007bff;
    border-radius: 8px;
    padding: 45px;
    background-color: rgb(116, 110, 110);
    object-fit: initial;
}


.desc-prod {

    color: #111010;
    height: 50px;
    
    text-align: center;
}

.price-prod {
    font-weight: bold;
text-align: center;
    color: #007bff;
    
}

.act-prod {
    background-color:#09305a;
    border: none;
    color: white;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    font-style: normal;

}

.del-prod {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    font-style: normal;
}



.act-prod:hover {
    background-color: #0a3b86
}

.del-prod:hover {
    background-color:  rgb(92, 15, 15);;
}