
.principio  {
    text-align: center;
    
}

nav {
    
    display: flex;
    justify-content: flex-end;
   
}
.btn-close  {
   
  background-color: #dc3545;
    border: none;
    color: white;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    font-style: normal;
}
.btn-close :hover   {

 background-color:  rgb(228, 206, 206);;

}

.all-btns   {

    list-style: none;
      background-color:#3f4041;
      justify-content:space-between ;
      align-items:center ;
      display: flex;
     gap: 30px;
     text-decoration: none;
      border-radius: 8px;
     padding: 8px 12px;
     margin: 0;
      overflow: hidden;


    
    cursor: pointer;
}
.all-btns :hover    {
    background-color: #0a3b86;
    transform: scale(1.05);
}
.links  {
    gap: 50px;
    display: flex;
}
















.let-btn-inic   {
    color:aliceblue;
}
.let-btn-dash   {
    color: aliceblue;
}
.let-btn-log    {
    color: aliceblue;
}
.let-btn-reg    {
    color: aliceblue;
}
